<h1>Registro</h1>


<br>
<form action="">
<div>
    <label for="">Habitacion
        <input type="text" #habitacion name="habitacion" id="" required>
    </label>
    <label for="">Numero de habitacion
        <input type="text" #numeroHabitacion name="numeroHabitacion" id="" required>
    </label>
    <label for="">Numero de Asientos
        <input type="number" #capacidad name="capacidad" id="" required>
    </label>
    <label for="">Pelicula
        <input type="text" #pelicula name="pelicula" id="" required>
    </label>
    <label for="">Cine
        <input type="number" #typeusers_id name="typeusers_id" id="" required>
    </label>
   
    
    <button type="button" (click)="registerH(habitacion,numeroHabitacion,capacidad,pelicula,typeusers_id)">Registrar</button>
</div>

</form>

<h1>{{ptipo}}</h1>